* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background: url("ảnh-nền-đn.png");
    background-size: cover;
  }
  #container {
    width: 360px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    margin-top: -280px;
    padding: 32px;
    border-radius: 8px;
    background: #e9dbf3e8;
  }
  #container .form-title {
    font-size: 28px;
    margin: 12px 0;
    color: #76547c;
  }
  #container #sign-in .input {
    padding: 10px;
    width: 100%;
    margin: 12px 0;
    border-radius: 5px;
    border: none;
    box-shadow: #c0c1bd 0px 0px 12px 0px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.8rem;
  }
  
  #container .button-sign-in {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background: #bd59d7;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
  }
  #container .button-sign-in:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }
  
  #container > a {
    text-decoration: none;
  }
  
  #container .support {
    width: 295px;
    margin-top: 10px;
    color: #53014f;
  }
  .support::after {
    content: "";
    display: block;
    width: 0;
    background-color: #bd59d7;
    height: 2px;
    transition: all 0.5s;
  }
  .support:hover::after {
    width: 100px;
  }
  #container .support:hover {
    color: #bd59d7;
    transition: all 0.3s;
  }
  #container .create-new-user {
    margin-top: 20px;
    color: #bd59d7;
    opacity: 0.8;
    font-weight: bold;
  }
  
  #container .create-new-user:hover {
    color: #bd59d7;
    transition: all 0.3s;
  }
  .create-new-user::after {
    content: "";
    display: block;
    width: 0;
    background-color: #bd59d7;
    height: 2px;
    transition: all 0.5s;
  }
  .create-new-user:hover::after {
    width: 140px;
  }
  