* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
td {
  font-size: 15px;
}
th {
  font-size: 16px;
}
.container {
  margin: auto;
  max-width: 1410px;
}
header {
  background: url("../img/background-header-top-comem.jpg");
}
.header-content nav {
  display: flex;
  align-items: center;
}
.header-content .menu {
  display: flex;
  margin-right: 30px;
}
.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-content .logo {
  margin-right: 4rem;
}
.header-content nav {
  width: 100%;
}
.header-content li {
  padding: 30px 15px;
  /* list-style: none; */
}
.header-content li a {
  color: #363c05;
  font-size: 18px;
  font-weight: 400;
}
.header-content li a span {
  display: inline-block;
  transition: all 1s;
}
.header-content li a:hover {
  text-decoration: none;
}
.header-content li:hover span {
  animation: upToDown 0.3s;
  color: #fff;
}
.header-content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
  transition: all 0.3s;
}
.header-content li:hover i {
  color: #fff;
}
.header-content button {
  padding: 6px 18px;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid transparent;
  color: black;
  background-image: white;
  background-size: 200%;
  cursor: pointer;
  transition: all 0.5s;
}
.header-content button a {
  text-decoration: none;
  color: #79832c;
  font-size: 1rem;
  font-weight: 500;
}
.header-content button:hover {
  background-position: right center;
  text-decoration: none;
}
.fa-user {
  font-size: 18px !important;
  cursor: pointer;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #fff !important;
}
.input-group {
  width: 30% !important;
  margin-right: 15px;
}
#navbar-search-autocomplete {
  width: 80%;
}
.search {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search-icon {
  background-color: #d35400;
  border-radius: 0 !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.fa-search {
  color: #fff;
  font-size: 16px;
}
.input-group {
  display: flex;
}
.dropdown {
  position: relative;
}
.user {
  display: block;
  padding: 5px 20px;
  text-align: left;
}
.dropdown-menu li {
  padding: 10px;
  display: block;
}
.dropdown-menu {
  min-width: 10rem;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  z-index: 1000;
  display: none;
}
.dropdown-menu li {
  border-radius: 5px;
}
.dropdown-menu li:hover {
  background-color: #dbdbdb;
  overflow: hidden;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.fa-cart-shopping {
  color: #fff;
  font-size: 16px !important;
  margin-left: 10px;
  cursor: pointer;
}
.quantity {
  background-color: #fff;
  color: #d35400;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23px;
  left: 83.5%;
  padding: 0px 5px;
}
.navbar-inverse {
  padding: 20px;
}
.types {
  background-color: #626c13;
}
.type:hover {
  text-decoration: none;
}
.types-content {
  display: flex;
  flex-direction: row;
}
.types-content li {
  margin-right: 40px;
}
.types-content li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.slide {
  width: 100%;
  height: 700px;
  position: relative;
}
.carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: all 1s;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 22px;
}
.aboutUs {
  padding-top: 100px;
}
.aboutUs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.aboutUs-item {
  text-align: center;
  border: 1px solid #79832c;
  padding: 15px 20px;
  border-radius: 8px;
  transition: all 0.3s;
}
.aboutUs-item:hover {
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transform: translateY(-10px);
}
.aboutUs-h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
}
.aboutUs-p {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.aboutUs-icon {
  font-size: 20px;
  margin-bottom: 10px;
}
.product {
  padding-top: 100px;
}
.product-container {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.product-title1 h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 40px;
}
.product-item {
  margin-bottom: 30px;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
}
.product-item:hover {
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transform: translateY(-10px);
}
.cartModal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 700px;
  height: 800px;
  z-index: 1000;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 5px;
}
body.active .banner .cartModal{
  right: 0;
}
.checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 10px;
}
.checkout .money {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.btn-outline-primary {
  border: 1px solid #28a745;
  border-radius: 4px;
  color: #28a745;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: transparent;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #28a745;
}
.cover {
  position: absolute;
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.theadCart {
  text-align: left;
}
.cartImg img {
  margin-left: 10px;
}
.cartModal h2 {
  font-size: 2rem;
  color: #d35400;
  font-weight: 400;
  text-align: center;
}
.tableCart {
  width: 100%;
}
.cover {
  position: absolute;
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card_product {
  padding: 10px 20px;
  border-color: #79832c;
}
.card_product .card-img-top {
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.product-content {
  margin-bottom: 80px;
}
.product-head {
  text-align: left;
}
.product-name {
  font-weight: 500;
  font-size: 22px;
  color: #363c05;
  height: 60px;
}
.product-price {
  font-weight: 500;
  font-size: 24px;
  color: #d35400;
  margin-bottom: 10px;
}
.product-amount {
  font-weight: 400;
  font-size: 18px;
  color: #d35400;
  margin-bottom: 0.5rem;
}
.product-desc {
  font-size: 15px;
  color: grey;
  height: 150px;
  line-height: 1.5;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.product-rate {
  color: #f9d412;
  margin-right: 10px;
}
.buy {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background-color: transparent;
  color: #28a745;
  transition: all 0.3s;
  cursor: pointer;
}
.buy:hover {
  color: #fff;
  background-color: #28a745;
}

.bannerSecond {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 40px;
}
.bannerSecond-item {
  width: 50%;
}
.blog-title {
  text-align: center;
}
.blog-title h2 {
  color: #4c503d;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.blog-title p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.blog-grid {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29 42 55 / 70%);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.card-img-top {
  height: 100%;
  width: 100%;
}
.blog-grid:hover img {
  transform: scale(1.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.hover-content {
  position: absolute;
  left: 0;
  bottom: -100%;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  z-index: 1;
  padding: 45px 50px;
  transition: all 0.5s;
}
.hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
  font-weight: 500;
}
.blog-grid:hover .img-overlay {
  opacity: 1;
  visibility: visible;
}
.blog-grid:hover .hover-content {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}
.blog-content {
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}
.blog-item {
  width: 25%;
  height: 240px;
}
.footer {
  background-color: #738136;
  color: #fff;
}
.footer-bot {
  display: flex;
  position: relative;
  padding: 60px 0;
}
.footer-item {
  width: 25%;
}
.footer-contact li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 18px;
}
.footer-contact i {
  font-size: 16px;
  margin-right: 8px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  color: #738136;
}
.footer-contact span {
  font-size: 15px;
}
.footer-item h3 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #fff;
}
.footer-item a {
  color: black;
  font-size: 16px !important;
  text-decoration: none !important;
  transition: all 0.5s;
}
.footer-item span {
  font-size: 16px;
}
.footer-item li {
  padding: 12px 0;
}
.footer-item a i {
  margin-right: 10px;
}
.footer-item h3::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: orange;
  background-size: 200%;
  bottom: 0;
  border-radius: 20px;
}
.footer-item h3::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  left: 20px;
  bottom: 0;
  background-color: orange;
  background-size: 200%;
  border-radius: 20px;
}
.footer-copyright {
  padding: 10px 0;
  position: relative;
  background-color: #1f343b;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content .right a {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.5s;
}
.footer-copyright .left span {
  color: #f55f8d;
}
.footer-item li:hover a {
  color: #fff;
}
.footer-copyright .right a:hover {
  background-color: #f55f8d;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
